# Telegram API configuration (get from /)
API_ID=29645228
API_HASH=cb1d4a26af129e7d44b12d178f8c7b8f

# Telegram Bot Token (get from @BotFather)
BOT_TOKEN=8844168376:AAGk4QENYPqAX6cuuyQt0G4akQMTcssDn6E

# Private Telegram Storage Channel ID (must start with -100)
# Make sure your bot is an administrator in this channel with post/edit permissions.
STORAGE_CHANNEL_ID=-1004482413385

# MongoDB Configuration
MONGODB_URI=mongodb+srv://krishnaprasath7x_db_user:NX5FlpWo7FiIza1N@yukinagato.ccajsje.mongodb.net/?appName=YukiNagato
DATABASE_NAME=YukiNagato

# Website configuration
BASE_URL=http://localhost:8000

# Security Key for cookie signing, tokens, etc.
SECRET_KEY=eac9c2fb1bf33f7e

# Environment Type (vercel or development)
VERCEL_ENV=development
